<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aier.speech.recognizer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="环宝宝"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme"
            android:name=".MyApplication">
        <!-- 如果需要在API 28上编译并运行在 android 9.0的机器上，需要在application中添加 android:networkSecurityConfig="@xml/network_security_config"-->
        <activity android:name=".ActivityMain">

        </activity>
        <activity
            android:name=".mvp.activity.StartActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".mvp.activity.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="人脸识别"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

        </activity>
        <activity
                android:name=".recog.ActivityOnlineRecog"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="在线识别"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".recog.ActivityOfflineRecog"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="离线命令词"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".recog.ActivityNlu"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="在线和本地语义"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".recog.ActivityAllRecog"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="全部识别"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".recog.ActivityUiDialog"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="在线识别（带对话框界面）"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".mini.ActivityMyMiniRecog"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="精简版识别"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".wakeup.ActivityWakeUp"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="唤醒词"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".wakeup.ActivityWakeUpRecog"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="唤醒后识别"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".mini.ActivityMyMiniWakeUp"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="精简版唤醒"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RobotActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="精简版唤醒和语音识别"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".RecordActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="语音识别"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".mvp.activity.RobotWakeUpActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="语音唤醒"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.activity.RobotTTSActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:launchMode="singleTask"
            android:label="语音合成"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".mvp.activity.RobotSpeechActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:launchMode="singleTask"
            android:label="语音识别"
            android:screenOrientation="landscape">

        </activity>

        <activity
                android:name=".mini.ActivityMyMiniUnit"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="精简版语义解析UNIT"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category
                        android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <receiver android:name=".broadcastReceiver.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="1000">
                <!--注册开机广播地址-->
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>