<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aier.speech.recognizer">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="羽白同学"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme"
            android:name=".MyApplication">
        <!-- 如果需要在API 28上编译并运行在 android 9.0的机器上，需要在application中添加 android:networkSecurityConfig="@xml/network_security_config"-->
        <activity
            android:name=".mvp.activity.StartActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".mvp.activity.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="人脸识别"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".mvp.activity.RobotWakeUpActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="语音唤醒"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.activity.RobotTTSActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:launchMode="singleTask"
            android:label="语音合成"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".mvp.activity.RobotSpeechActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:launchMode="singleTask"
            android:label="语音识别"
            android:screenOrientation="landscape">
        </activity>
        <receiver android:name=".broadcastReceiver.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="1000">
                <!--注册开机广播地址-->
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>